---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: .
          additional_files: entrypoint.sh
          severity: warning

  yamllint:
    name: yamllint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run yamllint
        run: pipx run yamllint action.yml .github/workflows/

  hadolint:
    name: hadolint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  docker-build:
    name: docker-build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: scip-go-action:test
