---
name: release

on:
  push:
    tags:
      - v*

jobs:
  update-major-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update major version tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          MAJOR=$(echo "$VERSION" | cut -d. -f1)
          git tag -fa "$MAJOR" -m "Update $MAJOR tag to $VERSION"
          git push origin "$MAJOR" --force
