---
name: rollback

run-name: Move ${{ github.event.inputs.major_version }} to ${{ github.event.inputs.target }}

on:
  workflow_dispatch:
    inputs:
      target:
        description: The tag or reference to rollback to
        required: true
      major_version:
        type: choice
        description: The major version to update
        options:
          - v1

jobs:
  rollback:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update major version tag
        run: |
          git tag -fa ${{ github.event.inputs.major_version }} ${{ github.event.inputs.target }} -m "Rollback ${{ github.event.inputs.major_version }} to ${{ github.event.inputs.target }}"
          git push origin ${{ github.event.inputs.major_version }} --force
