---
name: rollback

run-name: Move ${{ github.event.inputs.major_version }} to ${{ github.event.inputs.target }}

on:
  workflow_dispatch:
    inputs:
      target:
        description: The tag or reference to rollback to
        required: true
      major_version:
        type: choice
        description: The major version to update
        options:
          - v1

jobs:
  rollback:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update major version tag
        env:
          MAJOR_VERSION: ${{ github.event.inputs.major_version }}
          TARGET: ${{ github.event.inputs.target }}
        run: |
          git tag -fa "${MAJOR_VERSION}" "${TARGET}" -m "Rollback ${MAJOR_VERSION} to ${TARGET}"
          git push origin "${MAJOR_VERSION}" --force
